.user-type{
	height: 40px;
	width: 180px;
	color: #757779;
	font-family: Muli;
	font-size: 18px;
	font-weight: 200;
	line-height: 20px;
	text-align: center;
}
.profile-label{
    margin-top: 18px;
    height: wrap;
    width: wrap;
	font-size: 8px !important;
    color: #757779;
}
.profile-input{
    border-bottom: 2px solid #B4B6B8;
	font-size: 14px;
    color: #757779;
}
.iniciales{
    background-color: #FBB034;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-weight: 300;
    line-height: 93px;
    margin-right: 1.5px;
    text-align: center;
    width: 93px;
    height: 93px;
    font-size: 24px;
    margin-bottom: 10px;
}
.logout {
    margin-top: 86px;
    background-color: #fff;
    border-radius: 100px;
    color: #82b430;
    border: 1px solid #82b430;
    height: 35px;
    font-size: 13px;
    width: 135px;
  }
