.selecciona-la-audito {
	height: 40px;
	width: 180px;
	color: #757779;
	font-family: Muli;
	font-size: 16px;
	font-weight: 200;
	line-height: 20px;
	text-align: center;
}
.card{
	border-radius: 4px;
	background-color: #1AACB4;
}
.card-icon{
	height: 36px;
	width: 36px;
}
.titulo-auditoria{
	height: 20px;
	width: 154px;
	color: #FFFFFF;
	font-family: Muli;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
}
.nombre-de-la-empresa {
	height: 15px;
	width: 128px;
	color: #FFFFFF;
	font-family: Muli;
	font-size: 12px;
	font-weight: 300;
	line-height: 15px;
}
.izquierda{
	text-align:left;
}
.subir-resultados{
	font-size:13px;
}
.subir-resultados img{
	transform:translateX(-10px);
}