.coment-text{
    border: 0px;
    margin-left: 10px;
    margin-right: 10px;
    width: 240px;
    color: #757779;
    resize: none;
}
.guardar-comentario{
    text-align: center;
    margin-top: 80px;
    background-color: #82b430;
    border-radius: 100px;
    width: 140px;
    height: 30px;
}