.texto-resumen{
    height: 72px;
	width: 250px;
	color: #757779; 
	font-family: Muli;
	font-size: 14px;
	text-align: center;
}

.iniciar-evaluacion-logo{
    margin-top: 75px;
    margin-bottom: 40px;
}

.margin-btn-continuar{
    margin-top: 40px;
}